/*TODO: Sort out this ugly mess! */

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-color: #f7f7f7;
  text-align: center;
}

header {
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 10px 0;
  background-color: #ff8424;
  font-weight: 700;
}

footer {
  position: fixed;
  bottom: 0;
  color: white;
  text-align: center;
  padding: 10px 0;
  background-color: #ff8424;
  font-weight: 700;
  width: 100%;
}

footer nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer nav ul li {
  display: inline;
}

footer nav ul li a {
  padding: 8px;
  color: white;
}

button {
  background-color: #ff8424;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-weight: 700;
}

button:hover,
button:focus {
  background-color: #ffa764;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.panel-header {
  color: white;
  text-align: center;
  padding: 10px;
  background-color: #ff8424;
  font-weight: 700;
}

.wrapper {
  background-color: white;
}

form {
  width: 100%;
  padding: 10px;
  display: grid;
  grid-column-gap: 10px;
}

form div {
  width: 100%;
  margin: 0;
}

form div label {
  display: block;
}

form div input {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form div textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.mini-input {
  width: 25%;
}

.error {
  color: red;
  padding: 10px;
  margin: 0;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  width: 80%;
}

.close {
  border: 0;
  background: none;
  padding: 0;
  line-height: 41px;
  margin: 0 0 -10px 0;
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  background: none;
}

.hidden {
  display: none;
}

.notes-form {
  grid-template-columns: 1fr;
}

/* Large Devices */
@media (min-width: 700px) {
  .main-content {
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 0 30px rgba(84, 75, 49, 0.7);
  }
  .panel {
    width: 90%;
    margin: 10px auto;
  }
  .abilities-form {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .defence-form {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .saving-throw-form {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .equipment-form {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .feats-form {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .general-form {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .offence-form {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .skills-form {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .spells-form {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .summary-form {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .modal-form {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

/* Small Devices */
@media (max-width: 700px) {
  .abilities-form,
  .defence-form,
  .equipment-form,
  .feats-form,
  .general-form,
  .offence-form,
  .skills-form,
  .spells-form,
  .summary-form,
  .modal-form {
    grid-template-columns: 1fr 1fr;
  }
  .panel {
    margin: 0 auto;
  }
}
