/*TODO: Sort out this ugly mess! */

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-color: #f7f7f7;
  text-align: center;
}

header {
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 10px 0;
  background-color: #ff8424;
  font-weight: 700;
}

footer {
  position: fixed;
  bottom: 0;
  color: white;
  text-align: center;
  padding: 10px 0;
  background-color: #ff8424;
  font-weight: 700;
  width: 100%;
}

footer nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer nav ul li {
  display: inline;
}

footer nav ul li a {
  padding: 8px;
  color: white;
}

button {
  background-color: #ff8424;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-weight: 700;
}

button:hover,
button:focus {
  background-color: #ffa764;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

button:disabled {
  background-color: #c0631c;
  color: white;
  text-decoration: none;
  cursor: not-allowed;
}

form {
  width: 100%;
  padding: 10px;
  display: grid;
  grid-column-gap: 10px;
  align-items: center;
}

form div {
  width: 100%;
  margin: 0;
}

form div label {
  display: block;
}

form div input {
  width: 80%;
  padding: 12px 20px;
  flex: 1;
  border: 1px solid #ccc;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-sizing: border-box;
}

form div textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

p {
  padding: 0;
  margin: 0;
}

.app {
  padding-bottom: 41px;
}

.panel-header {
  color: white;
  text-align: center;
  padding: 10px;
  background-color: #ff8424;
  font-weight: 700;
}

.wrapper {
  background-color: white;
}

.inline-input-button {
  display: flex;
  margin: 10px 0;
}

.input-button {
  display: inline;
  padding: 13px;
  margin-left: -1px;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.mini-input {
  width: 25%;
}

.error {
  color: red;
  padding: 10px;
  margin: 0;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  width: 80%;
}

.close {
  border: 0;
  background: none;
  padding: 0;
  line-height: 41px;
  margin: 0 0 -10px 0;
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  background: none;
}

.hidden {
  display: none;
}

.spacer {
  padding-bottom: 10px;
  display: block;
}

.form-1-col {
  grid-template-columns: 1fr;
}

/* Large Devices */
@media (min-width: 700px) {
  .main-content {
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 0 30px rgba(84, 75, 49, 0.7);
  }
  .panel {
    width: 90%;
    margin: 10px auto;
  }
  .form-4-col {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .form-5-col {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .form-6-col {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .form-7-col {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .form-8-col {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .form-9-col {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .form-11-col {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .form-12-col {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

/* Small Devices */
@media (max-width: 700px) {
  .form-4-col,
  .form-5-col,
  .form-6-col,
  .form-7-col,
  .form-8-col,
  .form-9-col,
  .form-11-col,
  .form-12-col {
    grid-template-columns: 1fr 1fr;
  }
  .panel {
    margin: 0 auto;
  }
  footer {
    overflow-x: scroll;
  }
}
